{% extends 'main/base.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
{% block extend_header %}{% endblock %}
{% block extend_footer %}{% endblock %}

{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h5 class="lgTitle pb-md-3">Recent projects</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  {% for obj in object_list %}
  <div class="sectionSpaceSm">
    <div class="container detail">    
        {% if obj.is_active %}
          <h4 class="lgTitle">{{obj.name}}</h4>
          {{ obj.body|safe }}
        {% endif %}  
    </div>
    {% endfor %}
  </div>
</section>

{% endblock%}    